<div class="d-flex justify-content-center" style="width: 122px;">
    <button style="border-radius:.25rem 0px 0px .25rem;" class="btn btn-danger" ng-click="decValue()" tabindex="-1">
        <i class="fa fa-minus" aria-hidden="true"></i>
    </button>
    
    <input style="border-radius:0px" type="text" class="form-control" ng-model="value" maxlength="{{size}}"/>

    <button style="border-radius: 0px .25rem .25rem 0px;" class="btn btn-primary" ng-click="incValue()" tabindex="-1">
        <i class="fa fa-plus" aria-hidden="true"></i>
    </button>
</div>